*{
	margin:0;
	padding:0;
	box-sizing: border-box;
	font-family:"Poppins", sans-serif;
}

#navigacija{
	display:flex;
	justify-content:space-between;
	align-items:center;
	color:ff9a24#;
	background-color:#000000;
	padding:0px 15px;
}

#navigacija img{
	width:130px;
}

#ikonice-hrana{
	display:flex;
	justify-content:center;
	align-items:center;
	gap:50px;
	margin:65px;
}

.icon-hrana{
	display:flex;
	flex-direction:column;
	justify-content:center;
	align-items:center;
	gap:15px;
}

.icon-hrana p{
	font-size:22px;
}

.icon-hrana i{
	font-size:25px;
}

.lezi{
	display:flex;
	list-style-type:none;
	gap:18px;
}


.zlink{
	text-decoration:none;
	color:#ffffff;
}

#rest-dost{
	display:flex;
	flex-wrap:wrap;
	justify-content:flex-start;
	width:100%;
}

.setSlika{
	width:25%;
}
#jelovnikFilter{
	display:flex;
	flex-direction:column;
	justify-content:center;
	align-items:center;
}

#jelovnik{
	display:flex;
	flex-wrap:wrap;
	justify-content:flex-start;
	align-items:center;
	gap:30px;
	width:95%;
	margin-left:40px;
}

.kartica{
	width:calc((100% - 150px) / 4);
	background-color:black;
	color:white;
	height:400px;
	border-radius:25px;
	padding:10px 15px;
	color:#ff9a24;
	display:flex;
	flex-direction:column;
	justify-content:center;
	align-items:flex-start;
}

.kartica h3{
	font-size:20px;
	
}

.kartica img{
	height:200px;
	text-align:center;
	padding-bottom:15px;
}


#jelovnikFilter h1{
	font-size:35px;
	color:black;
	text-align:center;
	margin:35px 0px;
}

.razdvoji{
	display:flex;
	justify-content:space-between;
	align-items:center;
	padding:0px 20px;
	width:100%;
}

#picePrilozi{
	display:flex;
	justify-content:center;
	align-items:center;
	gap:50px;
	padding:50px 0px;
	margin:40px 0px;
	background-color:#000000;
}

.naslov{
	display:flex;
	flex-direction:column;
	justify-content:center;
	align-items:center;
	background-color:#fff;
	border-radius:25px;
	width:22%;
	height:auto;
	padding:30px 0px;
}
#pice{color:#000000;}
.naslov h2{
	padding-bottom:10px;
	color:#ff9a24;
}
.kartaPP{
	font-size:20px;
	width:100%;
}

.kartaPP ul{
	width:100%;
}

#listaBurger{
	display:none;
}
#listaPica{
	display:none;
}
#listaMeso{
	display:none;
}
#listaSalate{
	display:none;
}
#listaCorbe{
	display:none;
}

.polje input{
	border:1px solid #ccc;
}

#levo img{
	width:170px;
}

footer{
	background-color:#000000;
	color:#ffffff;
	display:flex;
	flex-direction:column;
	justify-content:center;
	align-items:center;
	padding:40px 0px;
}

#gore{
	display:flex;
	justify-content:center;
	align-items:center;
	gap:60px;
}

.futer-meni{
	list-style-type:none;
	display:flex;
	flex-direction:column;
	justify-content:center;
	align-items:start;
}

.stilizuj{
	color:#ffffff;
}

.stilizuj2{
	color:#ffffff;
}

#info{
	display:flex;
	flex-direction:column;
	justify-content:center;
	align-items:start;
}
.info-klasa{
	display:flex;
	flex-direction:row;
	gap:15px;
}

#dole{
	display:flex;
	font-size:14px;
	margin-top:40px;
}

#dr-mreze{
	font-size:25px;
	display:flex;
	gap:17px;
	padding-top:15px;
}

#poruci{
	display:flex;
	justify-content:center;
	align-items:flex-start;
	gap:50px;
	margin:20px 0px;
}

.odabir{
	position:relative;
	display:flex;
	justify-content:center;
	align-items:center;
	gap:20px;
	margin-top:12px;
}

.liste-stil{
	position:absolute;
	z-index:10;
	display:flex;
	flex-direction:column;
	top:100%;
}



#odabir-hrana{
	display:flex;
	flex-wrap:wrap;
	justify-content:center;
	align-items:center;
	gap:20px;
}

.dugme-stil{
	font-size:15px;
	background-color:#ffffff;
	padding:5px 10px;
}

#forma-polja{
	display:flex;
	flex-direction:column;
	align-items:start;
	justify-content:center;
	gap:15px;
	padding-bottom:40px;
}

.polje{
	
	display:flex;
	flex-direction:column;
	justify-content:center;
	align-items:start;
}

.polje input{
	height:35px;
	width:300px;
	padding-left:10px;
}

.polje2{
	display:flex;
gap:15px;
}

.polje3{
	display:flex;
	gap:5px;

}
#sub-btn{
	padding:5px 10px;
	font-size:15px;
	background-color:#ffffff;
}

#filteri{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
	padding:30px 0px;
    width: 100%;
	gap:50px;

}

#filteri .dugme {
     padding:5px 10px;
	 font-size:14px;
	background-color:#fff;
}

#hamburger{
	display: none;
    font-size: 30px;
    cursor: pointer;
    color: white;
}

#vratiGore{
	border-radius:25px;
	background-color:#000000;
	padding:11px 21px;
	margin-top:50px;
}

.tacno{
	color:green;
}

#porukaGreska1{
	color:red;
}

#porukaGreska2{
	color:red;
}

#porukaGreska3{
	color:red;
}

#autor{
	display:flex;
	justify-content:center;
	align-items:center;
	gap:40px;
	padding:30px 0px;
}

#poruciNaslov{
	text-align:center;
	padding-bottom:30px;
}

@media screen and (max-width:1024px){
	.setSlika{
		width:48%;
	}
	 #filteri {
        gap: 60px;
    }
	.kartica{
		width:calc((100% - 50px)/2);
	}
	#autor {
        gap: 20px;      
        padding: 20px;   
    }
	#gore{
		gap: 30px;
		padding: 0px 20px;
		}
	
}

@media screen and (max-width:768px){
	#ikonice-hrana{
	flex-direction:column;
	gap:20px;
	margin:40px 0px;
	}
	
#rest-dost{
	flex-wrap:wrap;
	margin:0px;
	padding:0px;
}
	.setSlika{
	width: 100%;
    
    display: block;  
   
	
}
#navigacija{
	display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    padding: 7px 15px;
    width: 100%; 
   
}

#hamburger{
	display:block;
	color:#fff;
}

.lezi{
	display:none;
	flex-direction:column;
	position:absolute;
	z-index:10;
	top: 100%; 
    left: 0;
    width: 100%;
    background-color: black;
}

.lezi.prikazi-meni{
	display:flex;
}
.lezi li {
        padding: 15px;
        border-bottom: 1px solid #333;
        text-align: center;
    }
	  #filteri {
        gap: 30px;
    }

    #filteri .dugme {
        width: 100%;
        max-width: 260px;
    }
	.kartica{
		width:100%;
	}
	
	#picePrilozi{
		display:flex;
		flex-direction:column;
		justify-content:center;
		align-items:center;
		width:100%;
	}
	.naslov{
		width:85%;
	}
	.kartaPP{
		width:80%;
		height:auto;
		
	}
	body {
        overflow-x: hidden;
    }
	#poruci {
        flex-direction: column;
        align-items: center;
        gap:40px;
		padding:20px;
    }

    .polje input {
        width: 90vw;
        max-width: 300px;
    }

    #odabir-hrana {
       display: flex;
        flex-wrap: wrap;
        justify-content: center; 
        gap: 10px;      
        width: 100%;
    }
	.odabir{width: 100%;
      flex: 0 0 calc(50% - 5px); 
        max-width: calc(50% - 5px);
		background-color:white;
		}
	.liste-stil {
        position: static;
        width: 90%;
        margin-top: 10px;
        box-shadow: none;
		}
	#forma-polja {
        width: 100%;
        align-items: center;
    }

    .polje {
        width: 100%;
        max-width: 350px;
    }

    .polje input {
        width: 100%;
    }
	#autor{
		display:flex;
		flex-direction: column;
		justify-content:center;
		align-items:center;
		gap: 15px;}
		
		footer {
        padding: 30px 10px;
    }
	#gore {
        flex-direction: column; 
        gap: 40px;
        text-align: center;
    }
	.futer-meni {
        align-items: center; 
    }
	#info {
        align-items: center;
    }
	#levo {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
	#dole {
        flex-direction: column;
        align-items: center;
        gap: 10px;
        margin-top: 30px;
    }
}

